<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>SignUp</title>
</head>

<body>
    <%-include('../partials/nav') %>
    <%if(typeof error != 'undefined'){
        error.forEach(error => {
            %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Sorry!</strong> <%=error.message%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <%
        }) %>
        <%
        delete error;
        delete no_err;
    } %>

    <%if(typeof no_err != 'undefined'){
        no_err.forEach(no_err => {
            %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> <%=no_err.message%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <%
        }) %>
        <%
        delete no_err;
    } %>

    <div class="container my-4">
        <h3 class="text-center">An email would be send to your provided email <%=adminemail%>.
            Please provide the otp for sign up.</h3>
        <form action="/admin/adminregister" method="post">
            
            <div class="form-group">
                <label for="adminvarcode">Varification Code</label>
                <input type="text" maxlength="23" class="form-control" id="adminotp" name="adminvarcode" required>

                <input type="hidden" maxlength="20" class="form-control" id="adminname" name="adminname" value=<%=adminname%>
                    aria-describedby="emailHelp" placeholder="Not email" required>
                <input type="hidden" maxlength="20" class="form-control" id="branchid" name="branchid" value=<%=branchid%>
                    aria-describedby="emailHelp" placeholder="" required>
                <input type="hidden" maxlength="50" class="form-control" id="adminemail" name="adminemail" value=<%=adminemail%>
                    aria-describedby="emailHelp" required>
                <input type="hidden" class="form-control" id="phone" name="adminphone" value=<%=adminphone%>
                    maxlength="11" pattern="[0-9]{11}" placeholder="01XXXXXXXXX(Use only digits)" required>
                <input type="hidden" maxlength="23" class="form-control" id="adminpassword" name="adminpassword" 
                value=<%=adminpassword%> required>
                <input type="hidden" maxlength="23" class="form-control" id="adminotp" name="adminotp" 
                value=<%=adminotp%> required>
            </div>

            <button type="submit" class="btn btn-primary">SignUp</button><br><br>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>